<<<<<<< HEAD
.post {
    padding: 20px 0;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

.comments-list {
    display: none;
}

.comments-list .show {
    display: block;
}
=======
.comments-container {
  display: none;
}

.show {
  display: block;
}
>>>>>>> 94bbb049470be46ca9698bb9f508dabad78f5f37
